.u-img {
    float: left;
    margin-right: 2%;
    border-radius: 100%;
    margin-top: 1%;
    width: 40px;
    height: 40px;
}

.carousel {
    width: 100%;
    min-height: 400px;
    text-align: center;
}

#titulo{
    width: 100%;
}
#titulo h3{
    float: left;
}
mat-chip-list {
    float: left;
    margin-left: 1%;
}

button[mat-icon-button]{
    color: #00bbf2;
    float: right;
}

.resolucionImagen{
    width: 100%;
    height:800px
}

@media only screen and (max-width: 992px){
    .resolucionImagen{
        width: 100%;
        height:400px
    }
}