<div class="row">
    <div class="col-md-6 col-xlg-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{proyect.nombre}}</h3>
                <h6 class="card-subtitle">Imagenes</h6>
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let imagen of listaImagenes">
                        <img class="img-fluid" src="{{imagen}}" alt="Random first slide">
                        <div class="carousel-caption">
                            <h3 class="text-white font-bold">Imagenes del proyecto {{proyect.nombre}}</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
                <br>
            </div>
            <ngb-rating [readonly]="true" [(rate)]="proyect.valoracionMedia">
                <ng-template let-fill="fill">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating>

            <div class="m-t-10">Valoración Media:
                <b>{{proyect.valoracionMedia}}</b>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-inverse">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Descripción del proyecto</h4>
            </div>
            <div class="card-body">
                <!-- <h3 class="card-title">Special title treatment</h3> -->
                <p class="card-text">{{proyect.descripcion}}
                </p>

                <h6 class="card-subtitle">{{proyect.autores}}</h6>
            </div>
        </div>
    </div>
</div>
<div class="col-md-11">
    <div class="card card-outline-info">
        <div class="card-header">
            <h4 class="m-b-0 text-white">Añade un comentario</h4>
        </div>
        <div class="card-body">
            <input class="form-control" id="exampleInputPassword1" [(ngModel)]="contenido" placeholder="comentario" type="text">
            <br>
            <br>
            <ngb-rating [(ngModel)]="valoracion" [(rate)]="valoracion" id="valoracion">
                <ng-template let-fill="fill">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating>
            <br>
            <br>
            <button class="btn btn-inverse" (click)="addComentario()">Comentar</button>
        </div>
    </div>
</div>
<div *ngFor="let comentario of ultimosComentarios" class="col-md-11">
    <div class="card" >
        <div class="card-body">
            <h3 class="card-title">{{comentario.nombreAutor}}</h3>
            <h6 class="card-subtitle">{{comentario.contenido}}</h6>
            <ngb-rating [readonly]="true" [(rate)]="comentario.valoracion">
                <ng-template let-fill="fill">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating>

            <div class="m-t-10">Valoración:
                <b>{{comentario.valoracion}}</b>
            </div>
            <button class="btn btn-danger" *ngIf="esMioElComentario(comentario.autor)" (click)="deleteComentarioUser(comentario.id)">Eliminar</button>
            <button class="btn btn-danger" *ngIf="isAdmin()" (click)="deleteComentario()">Eliminar</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-2" *ngIf="masComentarios">
        <button (click)="verTodosComentarios()">
            Ver más comentarios
        </button>
    </div>
    <div class="col-md-5">

    </div>
</div>