.u-img{
    float: left; 
    margin-right: 2%; 
    border-radius: 100%; 
    margin-top: 1%;
    width: 40px; 
    height: 40px;
}

.carousel {
    width: 600px;
    height: 400px;
}

.c-img {
    max-width: 600px;
    max-height: 400px;
}

