.u-img{
    float: left; 
    margin-right: 2%; 
    border-radius: 100%; 
    margin-top: 1%;
    width: 40px; 
    height: 40px;
}

.carousel {
    width: 100%;
    min-height: 400px;
    text-align: center;
}

.u-img {
    width: 100%;
    height: 100%;
}

