<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div id="titulo">

                    <h3 class="card-title">{{proyect.nombre}}</h3>

                    <button mat-icon-button>
                        <a class="twitter-share-button"
                            href="https://twitter.com/intent/tweet?text=Me+encuentro+en+la+Expo+FP+de+@salesianotriana%2C+disfrutando+de+{{proyect.nombre}}%2C+gran+trabajo+de+los+alumnos.%0ADisfruta+de+la+app+y+comparte+los+proyectos+mediante+enlacePlayStore.%0AO+visítanos+en+la+web+enlaceWeb.+%23expoFP"
                            target="_blank|_parent"
                            data-size="large"
                            data-hashtags="example"
                            data-via="twitterdev"
                            data-related="twitterapi,twitter">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </button>
                </div>

                <button class="btn btn-warning" *ngIf="isAdmin()" (click)="openDialogEditPhoto()">Editar Fotos</button>
                <br>
                <br>
                <ngb-carousel class="carousel">
                    <ng-template ngbSlide *ngFor="let imagen of listaImagenes">
                        <img class="c-img" src="{{imagen}}" alt="Random first slide">
                        <div class="carousel-caption">
                            <h3 class="text-white font-bold">Imagenes del proyecto {{proyect.nombre}}</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
                <br>
            </div>
            <ngb-rating [readonly]="true" [(rate)]="proyect.valoracionMedia">
                <ng-template let-fill="fill">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating>

            <div class="m-t-10">Valoración Media:
                <b>{{proyect.valoracionMedia}}</b>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-inverse">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Descripción del proyecto</h4>
            </div>
            <div class="card-body">
                <!-- <h3 class="card-title">Special title treatment</h3> -->
                <p class="card-text">{{proyect.descripcion}}</p>
                <mat-chip-list *ngFor="let p of proyect.autores" id="autores">
                    <mat-chip color="primary" selected id="autor">{{p}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>
</div>
<div class="col-md-11" *ngIf="admin || user">
    <div class="card card-outline-info">
        <form [formGroup]="comentarioForm">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Añade un comentario y tu valoración</h4>
            </div>
            <div class="card-body">
                <input formControlName="contenido" class="form-control" id="contenido" [(ngModel)]="contenido" placeholder="comentario" type="text">
                <div *ngIf="comentarioForm.controls['contenido'].invalid && (comentarioForm.controls['contenido'].dirty || comentarioForm.controls['contenido'].touched)" class="alert alert-danger">
                    <div *ngIf="comentarioForm.controls['contenido'].errors.required">
                        ¡No olvides escribir tu comentario!
                    </div>
                </div>
                <br>
                <br>
                <ngb-rating [(ngModel)]="valoracion" [(rate)]="valoracion" id="valoracion">
                    <ng-template let-fill="fill">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                </ngb-rating>
                <br>
                <br>
                <button class="btn btn-inverse" (click)="addComentario()" [disabled]="!comentarioForm.valid">Comentar</button>
            </div>
        </form>
    </div>
</div>
<div *ngFor="let comentario of ultimosComentarios" class="col-md-11">
    <div class="card">
        <div class="card-body">
            <div class="u-img"><img class="u-img" src={{comentario.imagenAutor}} alt="user"></div>
            <h3 class="card-title">{{comentario.nombreAutor}}</h3>
            <h6 class="card-subtitle">{{comentario.contenido}}</h6>
            <ngb-rating [readonly]="true" [(rate)]="comentario.valoracion">
                <ng-template let-fill="fill">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating>

            <div class="m-t-10">Valoración:
                <b>{{comentario.valoracion}}</b>
            </div>
            <button class="btn btn-danger" *ngIf="esMioElComentario(comentario.autor) && !masComentarios" (click)="deleteComentarioUser(comentario.id)">Eliminar</button>
            <button class="btn btn-danger" *ngIf="isAdmin() && !masComentarios" (click)="deleteComentario(comentario.id)">Eliminar</button>
            <button class="btn btn-danger" *ngIf="esMioElComentario(comentario.autor) && masComentarios" (click)="deleteUltimoComentario(comentario.autor, comentario.contenido)">Eliminar</button>
            <button class="btn btn-danger" *ngIf="isAdmin() && masComentarios" (click)="deleteUltimoComentario(comentario.autor, comentario.contenido)">Eliminar</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-2" *ngIf="masComentarios">
        <button class="btn btn-primary" (click)="verTodosComentarios()">
            Ver más comentarios
        </button>
    </div>
    <div class="col-md-5">

    </div>
</div>