button[mat-mini-fab]{
    color: white;
}
button[mat-mini-fab] i{
    width: 100%;
}
button[mat-mini-fab]#A {

    background-color: #FF6384;
    margin-bottom: 2%;
    cursor: default;
}
button[mat-mini-fab]#B {

    background-color: #4BC0C0;
    margin-bottom: 2%;
    cursor: default;
}
button[mat-mini-fab]#C {

    background-color: #FFCE56;
    margin-bottom: 2%;
    cursor: default;
}
mat-card{
    height: 20%;
}

button[mat-fab]#descargaPDF{
    background-color: #a61d21;
}

button[mat-fab]#descargaCSV{
    margin-left: 2%;
    background-color: #007233;;
}

.col-sm-5{
    float: right;
    margin-right: 20%;
    margin-bottom: 5%;
}

#addReq{
    float: right;
}