<!--**ENCUESTA (ADMIN)-->
<div fxFlex="100%" fxFlexFill *ngIf="isAdmin()">
    <button mat-fab (click)="downloadPDF()"><i class="fas fa-arrow-down fa-2x"></i></button>
    <mat-list fxFlexFill *ngFor="let pregunta of preguntas">
        <h1 mat-subheader *ngIf="isAdmin()">{{pregunta.pregunta}}<i class="mdi mdi-delete" (click)="deletePregunta(pregunta.id)"></i></h1>
        <mat-card>
            <mat-list-item *ngIf="isAdmin()">

                <div class="container" id="grafico">
                    <div class="col-sm-4 text-center">
                        <!-- (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" valoresgraficos(pregunta)  (chartClick)="chartClicked($event)"-->
                        <canvas baseChart 
                        [legend]=false 
                        [data]="[pregunta.nA, pregunta.nB, pregunta.nC]"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType" 
                        (chartHover)="chartHovered($event)"></canvas>
                    </div>
                </div>
                <button mat-mini-fab color="primary" (click)="randomizeType()"><i class="fa fa-chart-pie fa-x"></i></button>

                <h4 mat-line>
                    <button mat-mini-fab id="A">A</button> {{pregunta.respuestaA}}</h4>
                <h4 mat-line><button mat-mini-fab id="B">B</button> {{pregunta.respuestaB}}</h4>
                <h4 mat-line *ngIf="pregunta.respuestaC!=null"><button mat-mini-fab id="C">C</button> {{pregunta.respuestaC}}</h4>
            </mat-list-item>
        </mat-card>

    </mat-list>
    <button *ngIf="isAdmin()" color="primary" (click)="openDialogAddPregunta()" type="button" class="btn btn-success btn-circle btn-lg mat-fab-bottom-right" style="z-index: 9;"><i class="fa fa-plus fa-x"></i></button>
</div>
<!--**FORMULARIO ENCUESTA (USER)-->
<div id="form" fxFlexFill *ngIf="!isAdmin()">
    <div fxFlexFill *ngFor="let pregunta of preguntas">

        <h2 mat-subheader>{{pregunta.pregunta}}</h2>

        <mat-card>

            <!-- <mat-icon mat-list-icon>
                <i class="mdi mdi-hand-pointing-right"></i>
            </mat-icon> -->

            <mat-radio-group class="example-radio-group">
                <h4 mat-line>
                    <mat-radio-button [value]="pregunta.respuestaA" (click)="rellenarArrayRespuesta(pregunta.pregunta, pregunta.respuestaA)" class="md-warn" color="primary">
                        A - {{pregunta.respuestaA}}
                    </mat-radio-button>
                </h4>
                <h4 mat-line>
                    <mat-radio-button [value]="pregunta.respuestaB" (click)="rellenarArrayRespuesta(pregunta.pregunta, pregunta.respuestaB)" class="example-radio-button" color="primary">
                        B - {{pregunta.respuestaB}}
                    </mat-radio-button>
                </h4>
                <h4 mat-line>
                    <mat-radio-button *ngIf="pregunta.respuestaC!=null" (click)="rellenarArrayRespuesta(pregunta.pregunta, pregunta.respuestaC)" [value]="pregunta.respuestaC" class="example-radio-button" color="primary">
                        C - {{pregunta.respuestaC}}
                    </mat-radio-button>
                </h4>
            </mat-radio-group>

        </mat-card>

    </div>
    <br>
    <div fxFlexFill>
        <button mat-raised-button color="primary" fxFlex="100%" (click)="enviarEncuesta()">¡ENVIAR ENCUESTA!</button>
    </div>


</div>