.container {
    transform: translateY(0%)
}

.login {
    margin-left: 3.8%;
    width: 95%;
}
/* #login_boton {
    margin-bottom: 4.5%;
    margin-left: 43%;
} */

.signup {
    margin-left: 3.8%;
    width: 95%;
}

#logo{
    margin-top: 15%;
}
