<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayoutGap="225px">
  <div class="text-xs-center pb-1" fxLayoutAlign="space-around">
    <h3>Cambiar contraseña</h3>
  </div>
  <mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
    <div class="pb-1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Contraseña" [formControl]="form.controls['password']">
      </mat-form-field>
      <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mat-text-warn">Contraseña
        requerida.</small>
    </div>
    <div class="pb-1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Nueva contraseña" [formControl]="form.controls['newpassword']">
      </mat-form-field>
      <small *ngIf="form.controls['newpassword'].hasError('required') && form.controls['newpassword'].touched" class="mat-text-warn">Nueva
        contraseña requerida.</small>
    </div>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around">
      <a mat-raised-button (click)="closeDialog()">Cancelar</a>
      <button mat-raised-button type="submit" [disabled]="!form.valid">Cambiar contraseña</button>
    </mat-dialog-actions>
  </mat-dialog-content>


</form>