<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->

<ul class="navbar-nav mr-auto float-right">                
    <li (click)="toggleSidebar.emit()" class="nav-item m-l-10 d-block d-lg-none"> <a class="nav-link sidebartoggler text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
</ul>

<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<ul class="navbar-nav my-lg-0 float-right" id="sidebarnav">
        
    <li class="OcultarMovil" [class.active]="showMenu === topNavItem.title" *ngFor="let topNavItem of topNavItems" [routerLinkActive]="topNavItem.submenu.length != 0 ? '' : 'active'" style="margin:15px;">

        <a [routerLink]="topNavItem.class === '' ? [topNavItem.path] : null" [ngClass]="[topNavItem.class]">
                <i [ngClass]="[topNavItem.icon]"></i>
                <span class="hide-menu">{{topNavItem.title}}
                    <span *ngIf="topNavItem.label != '' " [ngClass]="[topNavItem.labelClass]">{{topNavItem.label}}</span>
                        </span>
            </a>
        </li>
    
    
    <!-- ============================================================== -->
    <!-- Profile -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown" ngbDropdown placement="bottom-right"  *ngIf="admin || user">
        <a ngbDropdownToggle class="nav-link dropdown-toggle prueba text-muted waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src={{img}} alt="user" class="profile-pic" /></a>
        <div class="dropdown-menu animated prueba" style="transform: translate(0px, 0px)" ngbDropdownMenu id="prueba">
            <ul class="dropdown-user">
                <li>
                    <div class="dw-user-box">
                        <div class="u-img"><img src={{img}} alt="user"></div>
                        <div class="u-text">
                            <h4>{{nombre}}</h4>
                            <p class="text-muted">{{email}}</p><!--<a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>--></div>
                    </div>
                </li>
                <li><a (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                <li><a (click)="openDialogChangePass()"><i class="fa fa-lock"></i> Cambiar contraseña</a></li>
            </ul>
        </div>
    </li>
</ul>
