.boton {
    width: 30px;
    height: 30px;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    opacity: 0.75;
    cursor: pointer;
}

.boton:hover {
    opacity: 0.50;
    -moz-opacity: .50;
    filter: alpha (opacity=50);
}

.boton a {
    color: #fff;
    text-decoration: none;
}

.medio {
    text-align: center;
    width: 100%;
    transform: translateY(12%);
    color: #fff;
}