<div class="row">
    <input style="margin-bottom: 4%; margin-left:1%;" type="text" [(ngModel)]="proyectoFilter.nombre" placeholder="Buscar por nombre">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-3 col-md-6" style="height:300px"*ngFor="let proyecto of listaProyectosRes | filterBy: proyectoFilter | paginate: { itemsPerPage: 14,
                        currentPage: p}">
                <div class="card text-center">
                    <img class="card-img-top img-responsive" style="object-fit:scale-down; height:150px" src={{proyecto.imagen}} alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{proyecto.nombre}} - {{proyecto.curso}}</h4>
                        <button (click)="VerProyecto(proyecto.proyecto)" class="btn btn-primary" style="width:40%;">Ver</button>
                    </div>
                </div>
            </div>
            <div>
                <pagination-controls *ngIf="(listaProyectosRes | filterBy: proyectoFilter) >= 14" (pageChange)="p = $event"
                    previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </div>
            <div style="margin-bottom: 4%;" class="boton mat-light-blue-A700">
                <mat-icon class="medio">add</mat-icon>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-11"></div>
    <button (click)="openDialogAddProject()" type="button" class="btn btn-success btn-circle btn-lg mat-fab-bottom-right" style="z-index: 9;"><i class="fa fa-link"></i> </button>
</div>