.boton {
    width: 30px;
    height: 30px;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    opacity: 0.75;
    cursor: pointer;
}

.boton:hover {
    opacity: 0.50;
    -moz-opacity: .50;
    filter: alpha (opacity=50);
}

.botones {
    display: flex;
    justify-content: space-between;

}

.boton a {
    color: #fff;
    text-decoration: none;
}

.medio {
    text-align: center;
    width: 100%;
    transform: translateY(12%);
    color: #fff;
}

.botonAniadir{
    position: fixed;
    margin-left: 70%;
    /* margin-bottom: 30%; */
    margin-top: 14%;
}

.btn-primary {
    width: 32%;
    float: left;
}

.btn-warning {
    width: 32%;
    float: left;
}

.btn-danger {
    width: 32%;
    float: left;
}