<h1>Añadir un proyecto</h1>
<div fxFlexFill fxLayoutAlign="center center" fxLayout="row">
    <form fxLayout="column" fxFlexFill [formGroup]="form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Título..." [formControl]="form.controls['title']">
        </mat-form-field>
        <div *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['title'].errors.required">
                El título es necesario
            </div>
        </div>



        <mat-form-field>
            <!-- <input matInput placeholder="Autores..." [formControl]="form.controls['autores']"> -->
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let autor of autores" [selectable]="selectable" [removable]="removable" (removed)="remove(autor)">
                    {{autor.nombre}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Autores..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
        </mat-form-field>
        <div *ngIf="form.controls['autores'].invalid && (form.controls['autores'].dirty || form.controls['autores'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['autores'].errors.required">
                Los autores son necesario
            </div>
        </div>

        <mat-form-field>
            <input matInput placeholder="Curso..." [formControl]="form.controls['curso']">
        </mat-form-field>
        <div *ngIf="form.controls['curso'].invalid && (form.controls['curso'].dirty || form.controls['curso'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['curso'].errors.required">
                El curso es necesario
            </div>
        </div>


        <mat-form-field>
            <textarea matInput placeholder="Descripción..." [formControl]="form.controls['descripcion']"></textarea>
        </mat-form-field>
        <div *ngIf="form.controls['descripcion'].invalid && (form.controls['descripcion'].dirty || form.controls['descripcion'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['descripcion'].errors.required">
                La descripción es necesaria
            </div>
        </div>

        <div class="form-group">
            <!-- <input type="file" class="form-control-file" id="exampleFormControlFile1" [formControl]="form.controls['img']"> -->
            <input type="file" (change)="foto64()" id="fotoInput" [formControl]="form.controls['img']"/>
        </div>
        <div class="form-group">
            <!-- <input type="file" class="form-control-file" id="exampleFormControlFile1" [formControl]="form.controls['img']"> -->
            <input type="file" (change)="fotos64()" id="fotosInput" multiple/>
        </div>

        <div fxLayoutAlign="end end">
            <button type="button" class="btn btn-rounded btn-primary" fxFlex="20%" [disabled]="!form.valid" (click)="addProject()">Añadir</button>
        </div>
    </form>
</div>